%h3 Users
.span8
  %table
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Role
    %tbody
      - @users.each do |user|
        %tr{:user_id =>user.id}
          %td= user.name
          %td= user.email
          %td= user.created_at.to_date
          -if user!=current_user
            %td= select_tag 'state', options_from_collection_for_select(Role.all, 'id', 'name', :selected => user.roles.first.id),:include_blank => (user.roles.first.nil? ?  true : false)
          -else
            %td= user.roles.first.name