%h3 Ticket in status #{@answer.status.name}
%b Theme: #{@answer.theme}
%p Creating by #{@answer.name}
%p
  %b Request text:
%pre #{@answer.text.to_s}
-@comments.each do |comment|
  %div{:class=>'answer_div'}
    %p Username: #{comment.name} Email: #{comment.email}
    %b Comment:
    %pre  #{comment.text}

= render "comments/form"