%h3 Ticket in status #{@answer.status.name}
%p Creating by #{@answer.name}
%p
  %b Request text:
%pre #{@answer.text.to_s}
-@comments.each do |comment|
  %div{ :id=>'ooo0', :margin=>'20px', :color=>'red' }
    %p Username: #{comment.name}
    %b Comment:
    %pre  #{comment.text}

= render "comments/form"