%h3 Tickets #{@status.name}
%ul
  -Status.all.each do |status|
    %li
      =link_to status.name, '/tickets/'+status.link
-if @status.user_requests.empty?
  %h4 Tickets with status #{@status.name} not found
-else
  .span8
    %table
      %thead
        %tr
          %th Name
          %th Theme
          %th Email
          %th ShowAnswers
      %tbody
        - @status.user_requests.each do |ticket|
          %tr
            %td= ticket.name
            %td= ticket.theme
            %td= ticket.email
            %td= link_to 'Show', '/answer/'+ticket.code
