!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Orm Mini"
      %meta{:content => content_for?(:description) ? yield(:description) : "Orm Mini", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              %p
                Your name:
                %strong #{current_user.nil? ? 'Guest' : current_user.name.capitalize}
              %p
                -unless current_user.nil?
                  Your Role:
                  %strong #{current_user.roles.first.name.capitalize}
              = render 'layouts/messages'
              = yield
          %footer
